<VirtualHost *:80>
  ServerAdmin admin@{{ ansible_domain }}
  DocumentRoot /var/www/html/moodle/
  ServerName test-moodle.ojp.gov
  ServerAlias www.test-moodle.ojp.gov
<Directory /var/www/html/moodle/>
  Options FollowSymLinks
  AllowOverride All
  Required all granted
</Directory>
  ErrorLog /var/log/httpd/moodle-error_log
  CustomLog /var/log/httpd/moodle--access_log common
</VirtualHost>
